<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aba</title>
</head>
<body>
    <!-- :)) -->
     <marquee bgColor="red" direction="up">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Fugiat, iusto?</marquee>
     <marquee bgColor="purple" direction="down">Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis, saepe?</marquee>
     <marquee bgColor="green" direction="right">Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus, ad!</marquee>
     <marquee bgColor="pink" direction="left">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque, veritatis!</marquee>
</body>
</html>